这是一个 Github 项目，项目名称叫 LeetCode，详细且全面记录 LeetCode 题解。

# 输入规则
- 强制：在我输入一个以 https://leetcode.cn/problems/ 开头的链接时，请根据链接生成对应的 Java 代码文件和题解文件。
- 强制：在我输入 https://leetcode.cn/problemset 开头的链接时，根据 record.txt 文件，找到合适题目，然后生成对应的 Java 代码文件和题解文件。
- 强制：在我输 “继续 n 个” 入时，根据 record.txt 文件，找到合适题目，然后生成对应的 Java 代码文件和题解文件。

# 项目文件结构说明
- src/main/java/ 存放 Java 题解代码
- 题解/ 存放题解文件
- 强制：不需要暴力解法的代码，只需要最优解的代码
- 强制：在生成代码时，要参考 record.txt 文件，不要生成已经解决的题目。生成好后将对应的题目编号写入 record.txt 文件。
- 强制：有一些题目可能是会员题目打不开，此时不用生成对应的文件，但是要在 record.txt 文件中记录对应的题目编号，下次就跳过这些题目。

# Java 代码要求
- Java 文件要能够编译运行，且能够通过 LeetCode 的测试用例
- Java 文件格式参考模板文件：L0000_Template.java
- Java class 的类名就使用文件名，例如 "L0001_TwoSum.java" 对应的类名就是 "L0001_TwoSum"
- 代码要简洁，思路清晰，注释要详细。强制：注释代码放在对应代码行的上方，而不是代码的右边。注释要使用中文。
- java 文件名明明规则是 "Lxxxx_{description}.java"。例如 https://leetcode.cn/problems/two-sum/description/ 链接下 "L0001_TwoSum.java"，L 后面的数字固定为 4 位，且是对应的数字编号。
- 只能使用 JDK 1.8 版本的语法，不能引入第三方包
- src/main/java/common 是通用的工具类、数据结构等，可以被其他题目复用
- Java class 的 main 方法运行几个典型的测试用例，要保证能够运行。
- 要保证整个 java 文件可以正常运行，不要丢失对应的 import 语句。
- 强制：在生成好对应的 Java 代码文件后，运行 main 方法，验证输出符合预期。运行后需要删除生成的 .class 文件。

# 题解文件说明
- 题解文件放在 题解/ 目录下，且文件名规则是 "Lxxxx_{chinese_description}.md"。例如 https://leetcode.cn/problems/two-sum/description/ 链接下 "题解/L0001_两数之和.md"，其“两数之和”中是题目的标题。
- 强制：题解文件参考模板文件：L0000_模板.md，里面的最高一级标题名称和顺序不能改变
- 强制：题目描述要原样复制对应题目的描述，不要有任何修改，且要完整
- 强制：解题思路要详细，给出解题步骤、分析过程，并针对一个典型示例逐步分析
- 强制：难度左边的 emoji 符号要根据标签内容变化，简单是 🟢、中等是 🟡、困难是 🔴
- 强制：中文和英文间要有一个空格，例如 "i=0时，补数=7" 要写成 "i=0 时，补数 =7"
- 示例分析可以参考模板文件：L0000_模板.md，但是要根据题目实际情况进行调整，最好更加直观通俗易懂。可以使用多种形式分析（包括但不限于表格），符合人类的阅读习惯
- 强制：在示例分析中，表示当前处理的字符时，不要使用 ✅ 表示当前处理的字符，不要使用 ⭐ 表示扩展检查的字符，使用颜色区分这两者，因为这样更直观。使用 [] 表示当前检查的范围
